body{
    margin: 0;
}

/* css import */





/* css resetting properties value */




/* Universal selector */






/* simple tag selector*/



/* css class selector */
.box-1{
    height: 200px;
    width: 200px;
    background-color: yellow;
}

.box{
    height: 200px;
    width: 200px;
    background-color: green;
}

#box{
    height: 200px;
    width: 200px;
    background-color: green;
}


.box .style{

}

.div~h1{
        color:brown;
}



/*css id selector*/




/* Examples Combinator selector */

/* Descendent selector */




/* child selector */



/* adjuacent sibling selector*/



/* general sibling selector*/



/* link selector */

/* 
    link
    active
    hover
    visited
*/

a:link{
background-color: red;
}
a:active{
background-color: blue;
}
a:hover{
    background-color: green;
}
a:visited{
    background-color: black;
}



