* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Urbanist, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.navbar {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 20px;
    font-weight: 600;
    color: red;
}
.nav-item{
    display: flex;
    align-items: center;
}

.nav-item a:hover{
    color: red;
}

.nav-item nav ul {
    display: none;
}

.nav-item nav ul li {
    margin: 0 15px;
}

button{
    padding: 10px 20px;
    border-radius: 20px;
    color: red;
    font-weight: 500;
    border: 1px solid red;
    background-color: white;
    cursor: pointer;
}

button:hover{
    color: white;
    background-color: red;
}