@media (max-width:576px) {
    .header{
        min-width: 15rem;
    }
    .navbar .nav-item{
        display: none;
    }
    .mobile-manu{
        display: flex;
        align-items: center;
    }
    .hero{
        height: 300px;
        background-position: center;
        background-size: cover;
    }
    .hero h4{
        font-size: 13px;
    }
    .hero h2{
        font-size: 20px;
    }
    .hero h1{   
        font-size: 30px;
    }
    .hero p{
        font-size: 9px;
    }
    .hero button{
        padding: 20px 70px 20px 65px;
        font-size: 12px;
    }
    .feature{
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .feature .featured-box{
        width: 50%;
        margin: 10px auto;
    }
    .product1 .card{

        min-width: 15rem;
        display: block;
        margin: 10px auto;
    }     
    /* .banner{
        width: 100%;
        height: 200px;
    } */
    .sm-banner{
        display: block;
        margin: auto;
    }
    .sm-banner .banner-box{
        width: 400px;
        height: 270px;
        margin: 15px auto;
    }
    .banner-2{
        display: block;
        margin: auto;
    }
    .banner-2 .banner-box{
        margin: 10px auto;
        width: 400px;
    }
}