.card{
    border-radius: 30px;
}

.img-1{
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-img{
    width: 13%;
    height: 13%;
    border-radius: 100%;
}

.text{
    font-size: 13px;
}

.btn{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.626);
}

.btn-primary{
    background-color: rgba(183, 183, 183, 0.535);
    border: none;
}

.btn1{
    position: relative;
    left: 60px;
}