*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Public Sans', sans-serif;
}

.container{
    display: flex;
    width: 100%;
}

.layout-wrapper{
    width: 24%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 1px solid black; */
}

.layout-menu .app-brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.app-brand{
    margin-bottom: 20px !important;
}

.app-brand .app-brand-logo{
    margin: 0 3px;
}

.app-brand .app-brand-text{
    font-size: 20px;
    color: #5d596c;
    font-weight: 700;
}

.app-brand .layout-manu{
    color: #6f6b7d;
}

.menu-inner .menu-item{
    margin: 10px 15px;
    padding: 10px 5px;
}

.menu-item .menu-name{
    margin-left: 5px;
    color: #5d596c;
}

.item1{
    background: #f4f4f5;
    /* padding: 10px 5px;
    margin: 13px 15px; */
    border-radius: 3px;
}

.badge{
    margin-left: 50px;
    padding: 2px 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #7367f0;
}

.badge1{
    background-color: #ee3636;
}

.menu-header{
    margin: 13px 15px;
    color: #93909e;
}

.layout-page{
    width: 100%;
    background-color: #f8f7fa;
}

.container2{
    margin: 13px 20px;  
}

.layout-navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.search-box{
    display: flex;
    height: 50px;
    padding: 15px 20px;
}

.search-box .fa-magnifying-glass{
    margin: 0 10px;
}

.search-box .search{
    color: #a5a3ae !important;
}

.navbar-nav{
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.navbar-nav .profile-logo img{
    border-radius: 50%;
} 

.navbar-nav .symbole{
    margin: 0 6px;
}

.container3{
    margin: 20px 20px;  
}

.grid-container {
    display: grid;
    gap: 10px 6px;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
    /* padding: 10px; */
}

.card-1{
    width: 490px;
    display: flex;
    border-radius: 5px;
    background-color: #7367f0;
    padding: 10px 20px;
}

.card-item-1 .card-head-1{
    font-size: 20px;
    color: #fff;
    margin: 5px 0;
    font-weight: 500;
}

.card-item-1 .card-text-1{
    font-size: 14px;
    color: #fff;
}

.card-item-1 .spending{
    margin: 15px 0;
    color: #fff;
}

.row{
    display: flex;
}

.data{
    margin-right: 30px;
}

.code{
    background-color: #00000032;
    padding: 8px 10px;
    line-height: 50px;
    border-radius: 3px;
    color: #ffffff;
}

.grid-item .card-2{
    width: 230px;
    padding: 15px 20px;
    background-color: #ffffff;
}

.card-item-2{
    display: flex;
    justify-content: space-between;
}

.card-item-2 .sales{
    margin-bottom: 7px;
    color: #a5a3ae !important;
}

.card-item-2 .sub-data{
    color: #28c76f;
}
.fa-cart-shopping{
    padding: 5px;
    border-radius: 3px;
    color: #00cfe8;
    background-color: #d9f8fc;
}
.fa-link{
    padding: 5px;
    border-radius: 3px;
    color: #7367f0;
    background-color: #eae8fd;
}
.vs{
    padding: 10px;
    align-items: center;
    border-radius: 50%;
    color: #a8aaae;
    background-color: #f2f2f3;
}
.per{
    margin: 10px 0;
    color: #5d596c;
    font-weight: 200;
}
.rupy{
    color: #a5a3ae;
}
.skills{
    margin: 15px 0;
    height: 10px;
    border-radius: 5px;
    color: #00cfe8;
    background-color: #7367f0;
}
/* .skills1{
    width: 50px;
    height: 10px;
    color: #00cfe8;
} */

.card-3{
    width: 230px;
    background-color: #ffffff;
}
.card-inner{
    padding: 10px;
}
.fa-credit-card{
    padding: 10px;
    border-radius: 20px;
    color: #28c76f;
    background-color: #dff7e9;
}
.card-title{
    font-weight: 100;
    color: #5d596c;
    margin-top: 10px;
}
.card-4{
    background-color: #ffffff;
    padding: 25px;
    width: 490px;
}
.flex{
    display: flex;
}
.earning{
    color: #5d596c;
}
.week{
    color: #a8aaae;
}
.plus{
    color: #28c76f;
    background-color: #dff7e9;
    padding: 2px;
}
.dollar{
    line-height: 35px;
}
.border{
    display: flex;
    margin-top: 35px;
    padding: 15px;
    justify-content: space-between;
    border: 1px solid #c7c7c7;
}
.fa-dollar-sign{
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 15px;
    color: #7367f0;
    background-color: #eae8fd;
}
.dollar span{
    color: #6f6b7d;
}
.dollar h3{
    color: #5d596c;
    font-weight: 500;
}
.skills2{
    height: 4px;
    border-radius: 5px;
    background-color: #7367f0;
}
.fa-chart-pie{
    padding: 5px 7px;
    border-radius: 3px;
    font-size: 15px;
    color: #00cfe8;
    background-color: #d9f8fc;
}
.skills3{
    width: 95px;
    height: 4px;
    border-radius: 5px;
    background-color: #00cfe8;
}
.fa-paypal{
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 15px;
    color: #ea5455;
    background-color: #fce5e6;
}
.skills4{
    width: 95px;
    height: 4px;
    border-radius: 5px;
    background-color: #ea5455;
}
.card-5{
    /* width: 200%; */
    display: flex;
    padding: 25px;
    background-color: #ffffff;
}
.sub-head h1{
    margin-top: 30px;
    font-weight: 500;
    color: #5d596c;
}
.sub-head p{
    font-size: 14px;
    color: #6f6b7d;
}
.part{
    margin-top: 40px;
}
.new{
    margin: 32px 0;
    display: flex;
    align-items: center;
}
.fa-ticket{
    margin-right: 15px;
    padding: 7px;
    border-radius: 5px;
    color: #7367f0;
    background-color: #eae8fd;
}
.fa-circle-check{
    margin-right: 15px;
    padding: 7px;
    border-radius: 5px;
    color: #00cfe8;
    background-color: #d9f8fc;
}
.fa-clock{
    margin-right: 15px;
    padding: 7px;
    border-radius: 5px;
    color: #ff9f43;
    background-color: #fff1e3;
}
.card-6{
    padding: 25px;
    background-color: #ffffff;
}
.flegdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fleg{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.fleg img{
    margin-right: 13px;
}
.name h4{
    color: #5d596c;
    font-weight: 400;
}
.name p{
    color: #a5a3ae;
}
.angle{
    display: flex;
    align-items: center;
    color: #28c76f;
}
.angle1{
    color: #ea5455;
}
.angle p{
    margin-left: 5px;
}
.card-7{
    width: 95%;
    padding: 25px;
    background-color: #ffffff;
}
.card-head-3 p{
    color: #5d596c;
}
.p-1{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.p-1 h1{
    color: #5d596c;
    font-weight: 500;
}
.green{
    color: #28c76f !important;
    margin-left: 10px;
}
.dollar1{
    display: flex;
    margin: 14px 0;
    align-items: center;
}
.totle{
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.totle p{
    color: #5d596c;
}
.totle small{
    color: #a5a3ae;
}
.card-8{
    padding: 25px;
    background-color: #ffffff;
}
.social{
    display: flex;
    justify-content: space-between;
}
.icon{
    display: flex;
}
.rupee{
    display: flex;
    margin-left: 100px;
}