$w-1:1px;
$w-2:2px;
$w-3:3px;
$w-4:4px;
$w-5:5px;
$w-6:6px;
$w-7:7px;
$w-8:8px;
$w-9:9px;
$w-10:10px;
$w-11:11px;
$w-12:12px;
$w-13:13px;
$w-14:14px;
$w-15:15px;
$w-16:16px;
$w-17:17px;
$w-18:18px;
$w-19:19px;
$w-20:20px;
$w-21:21px;
$w-22:22px;
$w-23:23px;
$w-24:24px;
$w-25:25px;
$w-26:26px;
$w-27:27px;
$w-28:28px;
$w-29:29px;
$w-30:30px;
$w-31:31px;
$w-32:32px;
$w-33:33px;
$w-34:34px;
$w-35:35px;
$w-36:36px;
$w-37:37px;
$w-38:38px;
$w-39:39px;
$w-40:40px;
$w-41:41px;
$w-42:42px;
$w-43:43px;
$w-44:44px;
$w-45:45px;
$w-46:46px;
$w-47:47px;
$w-48:48px;
$w-49:49px;
$w-50:50px;
$w-100:100px;
$w-125:125px;
$w-150:150px;
$w-175:175px;
$w-200:200px;
$w-225:225px;
$w-250:250px;
$w-275:275px;
$w-300:300px;
