body{
    margin: 0;
}

/* css color */

/* .color{
    height: 500px;
    width: 500px;
    background-color: rgba(80,55,55,1);
} */
/* .hex{
    height: 500px;
    width: 500px;
    background-color:#0000ff;
} */




/* css background properties */

/* .background{
    height:500px;
    width: 500px;
    background-image: url('../image/small.jpg') , url('../image/smiley-businesswoman.avif');
    background-repeat: no-repeat;
    background-blend-mode:soft-light;

} */



/* Background Gradients */

/* .linear-gradient-1{
    height: 500px;
    width:100%;
    background: linear-gradient(to left, red, blue , yellow);
}

.diagonal-linear-gradient {
    height: 500px;
    width:100%;
    background: linear-gradient(to bottom left, red 50% , yellow 50%);
}

.linear-gradient-rainbow {
    height: 500px;
    width:500px;
    border-radius: 100%;
    background: linear-gradient(to top, red, orange, yellow, green, blue, indigo, violet)
} */

/* .radial-gradient-simple {
    height: 500px;
    width:100%;
    background: radial-gradient( red, orange, yellow, green, blue, indigo, violet);
}

.radial-gradient {
    height: 100vh;
    width:100%;
    background: radial-gradient(circle farthest-corner at right, red, blue);
}

.bullseye {
    height: 100vh;
    width:100%;
    background: repeating-radial-gradient(red, red 5%, white , white 20%);
}

.warning {
    height: 100vh;
    width:100%;
    background: repeating-linear-gradient(90deg, yellow, yellow 10%, black 10%, black 20% );
}

.conic{
    height: 400px;
    width: 400px;
    background-color: red;
    background-image: conic-gradient(red, rgb(0, 255, 30), rgb(128, 0, 102));
}  */


/* css border properties */

/* css border types
    solid
    dotted
    dashed
    double
    hidden
    none
    ridge
    inset
    outset
    groove
*/

/* .border{
    height: 400px;
    width: 400px;
    border:10px groove green;
    border-left-color:red;
    border-left-width:10px;
    border-left-style:double;
    border-radius: 20px 40px 60px 80px;
    border-radius: 100%;
    outline:10px dashed blue;
    outline-offset: 20px;
    margin: 100px;
} */



/* border radius */



/* css outline properties */

/*
outline:none;
outline:width style color;
*/



/* css opacity */


 
.opacity{
    height: 500px;
    width: 500px;
    background-image: url('../image/small.jpg');
    opacity: 0.1;
}

p{
    color:red;
    font-size: 30px;
}







